<div id="outer">
<div class="parent">
    <div class="div1-header">MEETING SCHEDULE</div>
    <div class="div2-hr">&nbsp;</div>

    {% for element in DataSet1 %}
    {% if forloop.index <= 3 %} <!--Remove forloop after removing grid-->
    <div class="div-event{{ forloop.index }}">
        <span class="event-title">{{element.Event_Title}}</span>
        <br />
        <span class="event-room">{{element.Room_Name}}</span>
        <span class="event-pipe">|</span>
        <span class="event-room-level">{{element.Floor_Name}}</span>
    </div>
    {% endif %}
    {% endfor %}

    <div class="div6-hr">&nbsp;</div>
    <div class="div7-date">7.12.24</div>
    <div class="div8-logo"><img src="/MPCustomWidgets/DigitalSignage/g-logo-green.png" height="100%"  /></div>
</div>
</div>             

