    <div class="div2-hr">&nbsp;</div>

    {% for element in DataSet1 %}
    {% if forloop.index <= 3 %} <!--Remove forloop after removing grid-->
    <div class="div-event{{ forloop.index }}">
        <span class="event-title">{{element.Event_Title}}</span>
        <br />
        <span class="event-room">{{element.Room_Name}}</span>
        <span class="event-pipe">|</span>
        <span class="event-room-level">{{element.Floor_Name}}</span>
    </div>
    {% endif %}
    {% endfor %}
    <div class="div6-hr">&nbsp;</div>