<div id="storyCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="11500">
<div class="carousel-inner">
    {% for element in DataSet1 %}

    <div class="carousel-item"></div>
      <div class="story-content">
        <p>{{element.Response}}</p>
      </div>
    </div>
 
    {% endfor %}
</div>

  <button class="carousel-control-prev" type="button" data-bs-target="#storyCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#storyCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
